version: '3.8'

services:
  redis:
    image: redis:alpine
    container_name: weather_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - weather-net

  api:
    build: ./backend
    container_name: weather_api
    ports:
      - "8080:8080"
    depends_on:
      redis:
        condition: service_started
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      WEATHER_API_KEY: ${WEATHER_API_KEY}
      WEATHER_API_URL: ${WEATHER_API_URL}
    networks:
      - weather-net

  frontend:
    build: ./frontend
    container_name: weather_frontend
    ports:
      - "80:80"
    networks:
      - weather-net

networks:
  weather-net:
    driver: bridge
